<header class="page-header">
  <p class="page-header__title">PROCESOS - LECTORES Y ESCRITORES</p>
  <p class="page-header__myUser">Mi nombre: <strong>Usuario {{ userId }}</strong></p>
  <button class="btn-login" (click)="ingresar()"
          [disabled]="iWaiting || iReading || database.writerId == this.userId">
          Ingresar al sistema
  </button>
</header>


<body class="page-body">

  <div class="page-body-turns">
    <div class="turn-bloque" [ngClass]="{'--turn-current': database.usersWaiting[0] == this.userId}">
      <p class="turn-bloque__title">{{ database.usersWaiting[0] == this.userId? 'Es tu turno': 'Turno actual' }}</p>
      <p class="turn-bloque__user">{{ database.usersWaiting[0]? 'Usuario ' + database.usersWaiting[0]: 'Vacio' }}</p>
    </div>
    <div class="turn-bloque --turn-next">
      <p class="turn-bloque__title">Turno siguiente</p>
      <p class="turn-bloque__user">{{ database.usersWaiting[1]? 'Usuario ' + database.usersWaiting[1]: 'Vacio' }}</p>
    </div>
  </div>

  <div class="users-waiting">
    <div class="user-waiting__title">Cola de espera: {{ database.usersWaiting.length }} personas</div>
    <div class="user-waiting-row" *ngFor="let item of database.usersWaiting; let i=index; trackBy: trackByItems">
      <span class="user-waiting__pos">({{ i }}° posición):</span>
      <span class="user-waiting__user">Usuario {{ item }}</span>
    </div>
  </div>

  <div class="resource">
    <div class="resource__title">
      <p>RECURSO</p>
      <span class="resource__status --available" *ngIf="!database.isWriting && database.isReading">Solo lectura</span>
      <span class="resource__status --not-available" *ngIf="database.isWriting">No disponible</span>
      <span class="resource__status --available" *ngIf="!database.isWriting && !database.isReading">Solo lectura o escritura</span>
    </div>

    <div class="resource-log">
      <div class="resource-log__title" *ngIf="database.usersReading.length > 0">Recurso en tiempo real: {{ database.usersReading.length }} personas</div>
      <div class="resource-log__title" *ngIf="database.writerId !== 0">Recurso en tiempo real: 1 persona</div>
      <div class="resource-log-row" *ngFor="let item of database.usersReading; let i=index; trackBy: trackByItems">
        <span class="resource-log__user">- Usuario {{ item }}</span>
        <span class="resource-log__pos"> está leyendo el recurso</span>
      </div>
      <div class="resource-log-row" *ngIf="database.isWriting">
        <span class="resource-log__user">- Usuario {{ database.writerId }}</span>
        <span class="resource-log__pos"> está escribiendo el recurso</span>
      </div>
    </div>

    <div class="resource-actions">
      <div class="action-box" [ngClass]="{'--action-active': iReading}">
        <p class="action-box__title">Lector</p>
        <button class="action-box__btn"
                (click)="iniciarLectura()"
                [disabled]="iReading || database.isWriting"
                *ngIf="database.usersWaiting[0] == this.userId">
                Iniciar lectura
        </button>
        <div *ngFor="let item of database.usersReading; let i=index">
          <button class="action-box__btn" id="{{ i }}"
                  (click)="finalizarLectura( i )"
                  *ngIf="item == this.userId">
                  Finalizar lectura
          </button>
        </div>
      </div>
      <div class="action-box" [ngClass]="{'--action-active': database.writerId == userId}">
        <p class="action-box__title">Escritor</p>
        <button class="action-box__btn"
                (click)="iniciarEscritura()"
                [disabled]="database.isReading || database.isWriting"
                *ngIf="database.usersWaiting[0] == this.userId">
                Iniciar escritura
        </button>
        <button class="action-box__btn"
                (click)="finalizarEscritura()"
                [disabled]="!database.isWriting || (database.writerId !== userId)"
                *ngIf="database.writerId == userId">
                Finalizar escritura
        </button>
      </div>
    </div>


  </div>

</body>